EXPO_PUBLIC_SUPABASE_URL=https://rpdakihvkmoyjatalmte.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwZGFraWh2a21veWphdGFsbXRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNzkxNjYsImV4cCI6MjA5Njk1NTE2Nn0.7PJYEyg19aZ-D4w79rAjkFBE1XHLtDbHZ4TLEHzaGww
